<!doctype>
<head>
<link rel="stylesheet" href="/bower_components/rickshaw/rickshaw.min.css">
<script src="/bower_components/rickshaw/vendor/d3.v3.js"></script>
<script src="/bower_components/rickshaw/vendor/d3.layout.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="/bower_components/rickshaw/rickshaw.js"></script>
</head>
<body>
<style>
    #chart {
        position: relative;
        left: 40px;
    }
</style>
<div id="chart_container">
    <div id="chart"></div>
</div>

<script>

    //[ { x: -1893456000, y: 92228531 }, { x: -1577923200, y: 106021568 }, { x: -1262304000, y: 123202660 }, { x: -946771200, y: 132165129 }, { x: -631152000, y: 151325798 }, { x: -315619200, y: 179323175 }, { x: 0, y: 203211926 }, { x: 315532800, y: 226545805 }, { x: 631152000, y: 248709873 }, { x: 946684800, y: 281421906 }, { x: 1262304000, y: 308745538 } ];
    var time = new Rickshaw.Fixtures.Time();
    var hours = time.unit('hour');
    var ajaxGraph;
    ajaxGraph = new Rickshaw.Graph.Ajax( {
        element: document.querySelector("#chart"),
        width: 800,
        height: 600,
        renderer: 'line',
        dataURL: '/data/',
        onData: function(d) { return d; },
        series: [{
            name: "Living Room Temp",
            color: 'red'
        }, {
            name: "Bedroom Temp",
            color: 'blue'
        }, {
            name: "Outside Temp",
            color: 'green'
        }, {
            name: "Storage Temp",
            color: 'yellow'
        }, {
            name: "Study Temp",
            color: 'black'
        }],
        onComplete: function(transport) {
            var graph = transport.graph;
            var detail = new Rickshaw.Graph.HoverDetail({ graph: graph });
            var x_axis = new Rickshaw.Graph.Axis.Time({
                graph: graph,
                timeUnit: hours
            });
            x_axis.render();
            var y_axis = new Rickshaw.Graph.Axis.Y( {
                graph: graph,
                tickFormat: Rickshaw.Fixtures.Number.formatKMBT
            } );
            y_axis.render();
            //y_axis.graph.update();
            //x_axis.graph.update();
        }
    });

   // var axes = new Rickshaw.Graph.Axis.Time( { graph:  } );


    //ajaxGraph.render();

</script>
</body>